#contact-information {
  border-top: none;
}

.order-summary-recap .product__price {
  display: inherit;
}

.order-summary-recap .product-list .product--has-image .product__info, .order-summary-recap .product-list .product--has-image .product__price {
  margin-top: inherit;
}

#shipping-address.fieldset .field:nth-child(2) {
  border-top: none;
}

#payment .fieldset .field:nth-child(2) {
  border-top: none; 
}

.total-line--total ~ .total-line--total {
  display: none;
}

.btn {
  background-color: rgb(5,111,255);
  border-bottom: 2px solid #0059d1;
}

.btn:hover {
  background-color: #0062e9;
}
