.order-summary-recap {
  border-bottom: none;
}

.order-summary-recap .product__price {
  display: inherit;
}

.order-summary-recap .product-list .product--has-image .product__info, .order-summary-recap .product-list .product--has-image .product__price {
  margin-top: inherit;
}
